<%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :area, 'メッセージ' %>
          <%= f.text_area :area, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :country, 'メッセージ' %>
          <%= f.text_area :country, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :place, 'メッセージ' %>
          <%= f.text_area :place, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :comment, 'メッセージ' %>
          <%= f.text_area :comment, class: 'form-control', rows: 5 %>
        </div>
        <div class="field">
        <%= form.label :photo %>
        <%= form.file_field :photo %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
<% end %>
