<h1><%= @user.name %>の投稿詳細ページ</h1>
<% if @post.user_id==@current_user.id %>
<%= link_to @user.name, syousai_path %>
          <p><%= @post.area %></p>
          <p><%= @post.country %></p>
          <p><%= @post.place %></p>
          <p><%= @post.comment %></p>
          <p>
          <strong>photo:</strong>
          <%= image_tag @post.photo.url if @post.photo? %>
          </p>
<p><%= link_to 'edit',  edit_post_path(@post)%></p>
<% else %>
<%= link_to @user.name, syousai_path %>
          <p><%= @post.area %></p>
          <p><%= @post.country %></p>
          <p><%= @post.place %></p>
          <p><%= @post.comment %></p>
          <p>
          <strong>photo:</strong>
          <%= image_tag @post.photo.url if @post.photo? %>
          </p>

<% end %>
<!--form.select-->