<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= link_to post.id, post_path(post.id) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div>
          <p><%= post.area %></p>
          <p><%= post.country %></p>
          <p><%= post.place %></p>
          <p><%= post.comment %></p>
          <p>
          <strong>photo:</strong>
          <%= image_tag post.photo.url if post.photo? %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>